body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #66ccff; /* Light Blue */
    transition: color 0.3s ease-in-out; /* Added transition for color change */
}

header h1:hover {
    color: #ff9933; /* Orange - Change this color to your desired hover color */
}

header p {
    font-size: 2em;
    color: #ccc;
}

.main-content {
    padding: 40px 0;
}

article h2 {
    color: black; /* Light Blue */
    font-size: 2.2em;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out; /* Added transition for color change */
}
article h4 {
    color: black; /* Light Blue */
    font-size: 1.5em;/* Added transition for color change */
}

article h2:hover {
    color: #ff9933; /* Orange - Change this color to your desired hover color */
}

p {
    line-height: 1.5;
    color: black; /* Light Blue */
    font-size: 1.5em;
}

.feature-heading h3 {
    color: #ff9933; /* Orange */
    font-size: 1.5em;
    margin-top: 20px;
}

.feature-description {
    color: black;
}

.cta-section {
    background-color: #666;
    padding: 60px 0;
    text-align: center;
}

.cta-section h2 {
    color: #fff;
}

.cta-section p {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff9933; /* Orange */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #e6801b; /* Darker Orange */
    color: #fff; /* Hover color */
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Additional styling for the tech effects */
article {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: #ddd;
    transform: translateX(-50%);
}

article:hover {
    transform: scale(1.05);
}
