
body{
    margin: 0;
    padding: 0;
    background-image: url("my_bg.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    max-width: 100%; 
    height: 100%;
    background-attachment: fixed;
}
.toggle_img {
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;

}
.toggle_img:hover{
    color: whitesmoke;
    background-color: rgba(92, 90, 90, 0.637);
    border-color: skyblue;
    box-shadow: 0px 5px 10px rgba(0, 123, 255, 0.3);
}

p {
    font-size: 150px;
    color: whitesmoke;
    align-content: center;
    justify-content: center;
    font-variant-position:super;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.menu{
    position: relative;
    display: inline-block;
    margin: 10px;
    align-self: flex-start;
}
.menu-toggle {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    }

.options {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    min-width: 150px;
    border-radius: 5px;
    }

.options li {
    padding: 10px;
    }

.options li a {
    text-decoration: none;
    color: #333;
    }

.options.show {
    display: block;
    }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
