body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: grey;
    transition: color 0.3s ease-in-out;
}

header h1:hover {
    color: #ff9933;
}

header p {
    font-size: 1.2em;
    color: #ccc;
}

.main-content {
    padding: 40px 0;
}

article {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: #ddd;
    transform: translateX(-50%);
}

article:hover {
    transform: scale(1.05);
}

article h2 {
    color: grey;
    font-size: 2em;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

article h2:hover {
    color: #ff9933;
}

article p {
    line-height: 1.6;
    color: #555;
}

/* Styling for unordered lists (UL) */
article ul {
    list-style: none;
    margin-left: 20px;
    color: #666; /* Change color as needed */
}

article ul li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

article ul li::before {
    content: '\2022'; /* Unicode character for a bullet point (you can replace it with your preferred icon) */
    position: absolute;
    left: 0;
    color: #ff9933; /* Bullet point color */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Additional styling for the tech effects */
article::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: #ddd;
    transform: translateX(-50%);
}

article:hover {
    transform: scale(1.05);
}

/* CTA Section styling */
.cta-section {
    background-color: #666;
    padding: 60px 0;
    text-align: center;
}

.cta-section h2 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff9933;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #e6801b;
    color: #fff;
    transform: scale(1.05);
}
