fastapi==0.104.1
uvicorn==0.24.0

sqlalchemy==2.0.23
alembic==1.12.1

pydantic==2.5.0
pydantic-settings==2.1.0

requests==2.31.0
beautifulsoup4==4.12.2
newspaper3k==0.2.8
lxml==5.2.1
lxml_html_clean==0.1.1

SpeechRecognition==3.10.0
pyttsx3==2.90
PyAudio==0.2.14

pyautogui==0.9.53
PyGetWindow==0.0.9
psutil==5.9.6

pyjokes==0.6.0
pywhatkit==5.4
wikipedia==1.4.0

googlesearch-python==1.2.3
google-search-results==2.4.2

python-multipart==0.0.6
jinja2==3.1.3

openai==1.3.0

apscheduler==3.10.4
plyer==2.1.0

selenium==4.21.0
webdriver-manager==4.0.1

google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.127.0

spotipy==2.23.0

python-dotenv==1.0.1