{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  name="suthor" content="width=device-width, initial-scale=1.0">
    <link rel =  'icon' href = "{% static 'images/icon_1.png' %}" type = image/x-icon>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js_file.js' %}">
        function toggleMenu() {
            var menu = document.getElementById("optionsmenu");
            menu.classList.toggle("show");
        }
        
        window.onclick = function(event) {
            if (!event.target.matches('.toggle-menu')) {
                var menus = document.getElementsByClassName("options");
                var i;
                for (i = 0; i < menus.length; i++) {
                    var openMenu = menus[i];
                    if (openMenu.classList.contains('show')) {
                        openMenu.classList.remove('show');
                    }
                }
            }
        }
        
    </script>
    <title>CUBY</title>
</head>
<body>
    <div class="menu">
        <a href="#" class="toggle-menu" onclick="toggleMenu()">
            <img class="toggle_img" src="{% static 'images/grey_toggle_icon1.png' %}" alt="Toggle Button" width="40px" height="40px">
        </a>
        <ul class="options" id="optionsmenu">
            <li><a href="settings.html">Settings</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="help.html">Help</a></li>
        </ul>
    </div>
    
    <p>CUBY</p>
</body>
</html>